@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {
margin: 0;
padding: 0;
border: 0;
}
/*-------------------------------------------------------- Background colors*/
body {
    font-family:'Oswald', sans-serif;
    color:black ;
}

 h1 {
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: black;
     margin-left: 30px;
 }

 /*-------------------------------------------------------- Font & font styles*/

 #logo{
     float: left;
     font-size: 280%;
 }

#menu{
   font-size: 110%;
   list-style-type: none;
   letter-spacing: 4px;
}

#logo, #menu{
   line-height: 75px;
}

 #menu li {
    float: right;
    margin-right: 30px;
 }
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}
/*------------------------------------------------------------------------------### index.html ### */
#hero-image {
    position: absolute;
    width: 100%;
    height: 600px;
}
#hero-image1{
    width: inherit;
    height: inherit;
}

#hero-outer{
width:100%;
height:600px;
overflow:hidden;
position: relative;
}

#cover-text, #cover-text h2{
  color:#ffffff;
}
/*------------------------------------------------------------------------------###  cover text page 1 & 2### */
#cover-text{
  font-size: 130%;
  font-family: oswald;
  text-transform:uppercase;
  letter-spacing:3px;
  width: 350px;
  height:200px;
  padding-top:30px;
  padding-left: 15px;
  background-color: rgba(44, 37, 37, 0.7);
  bottom: 30px;
  right: 150px;
  position: absolute; 
}
#cover-text1, #cover-text1 h2{
  color:#ffffff;
}
#cover-text1{
  font-size: 130%;
  font-family: oswald;
  text-transform:uppercase;
  letter-spacing:3px;
  width: 700px;
  height:100px;
  padding-top:30px;
  padding-left: 15px;
  background-color: red;
  bottom:0px;
  right: 0px;
  position: absolute; 
}

#gym-ethos {
    height: 400px;
}

#left-about {
    width: 50%;
    height: 300px;
    float: left;
    background: url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center;
}

#right-about{
    padding-top: 30px;
    width: 49%;
    float: right;
    font-family: fantasy;
    margin-right: 10px;
    
}
#welcome {
    margin: 25px 0;
    text-align: center;
    font-size: 280%;
}

#moc {
height: auto;
}



#welcome2{
    margin-top: 100px;
    text-align: center;
    font-size: 280%;

}

#image2 {
    margin: auto;
    width: 100%;
    height: 100px;
    background: url(https://images.unsplash.com/photo-1526404079162-d93dafdeef3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center center;
}

 #join{
    margin: 25px 0;
    text-align: center;
    font-size: 280%;
 }


#work-hero {
    position: absolute;
    width: 100%;
    height: 600px;
 }
 #work-hero1{
     width: inherit;
     height: inherit;
 }

#work {
   width:100%;
   height:600px;
   overflow:hidden;
   position: relative;
}

#work-text{
    text-align: center;
    font-size: 500%;
}
/*------------------------------------------------------------------------------### all the tree pages container ### */
.container{
   max-width:1200px;
   height: auto;
   margin: auto;
   background-color: #ffffff;
   overflow: auto;
   margin-top: 100px;
  
}
.gallery{
    margin-left: 13px;
    border: 1px solid white;
    float: left;
    width: 380px;    
}

.gallery img{
  width: 100%;
  height: 400px;
}
.gallery1 {
    margin: 7px;
    border: 1px solid white;
    float: left;
    width: 380px;
    
}
.gallery1 img{
  width: 100%;
  height: 400px;;
  border-radius: 50%;
}
.desc{
    padding: 15px;
    text-align: center;
}

#find{
    height: auto;
}
.desc11{
    padding: 15px;
    text-align: left;
    line-height: 40px;
}
.desc22{
    padding: 15px;
    text-align: center;
    line-height: 40px;
}
.desc33{
    padding: 15px;
    text-align: right;
    line-height: 40px;
}

/*------------------------------------------------------------------------------### footer ### */

footer{
height: 150px;
}
 

#social-networks {

    text-align: right;

}

#social-networks li {
    display: inline;
}

#social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #080808;
}

#info {
    margin: inherit;
    padding: inherit;
    float: left;
    margin-left: 30px;

}

/* Media query to make design responsive on smaller screens */
@media screen and (max-width: 1199px ){
    .container{
        width: 100%;
        height: auto;
        margin: auto;
    }
    #welcome2{
        text-align: center;
        padding-bottom: 30px;
    }
    .gallery1 {
      width: 100%;
      margin: 0 auto;
    }
    .gallery {
      width: auto;
      margin: auto;
      float: none;
    }
    
    .desc11{
        text-align: center;
    }
    .desc22{
        text-align: center;
    }
    .desc33{
        text-align: center;
    }

    #cover-text1{
        width: 100%;
        text-align: center;
        
    }
  
}

@media screen and (max-width:767px) {
    #logo {
        text-align: center;
        font-size: 200%;
        margin-left: 24px;
    }
    #menu{ 
         clear: left;
         float: left;
         margin-left: 20px;
    }

#left-about{
    width: 100%;
}
#right-about{
    width: 100%;
}
#cover-text{
    width: 100%;
    right: 0px;
    font-size: 100%;
}
#welcome {
    font-size: 200%;
}
#welcome2{
    font-size: 200%;
}
#cover-text1{
    font-size: 100%;
}
#social-networks li {
    float: left;
    }
#info{
    font-size: 60%;
}
}