@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*{
margin: 0;
padding: 0;
border: 0;
}

body {
    font-family:'Oswald', sans-serif;
    color:black ;
}

 h1 {
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: black;
 }

 #logo{
     float: left;
     font-size: 280%;
 }

#menu{
   font-size: 110%;
   list-style-type: none;
   letter-spacing: 4px;
}

#logo, #menu{
   line-height: 75px;
}

 #menu li {
    float: right;
    margin-right: 30px;
 }
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

#hero-image {
    position: absolute;
    width: 100%;
    height: 600px;
    background: url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center center;
}

#hero-outer{
width:100%;
height:700px;
overflow:hidden;
position: relative;
}
#cover-text, #cover-text h2{
  color:#ffffff;
}
#cover-text{
  font-size: 130%;
  font-family: oswald;
  text-transform:uppercase;
  letter-spacing:3px;

  width: 350px;
  height:200px;

  padding-top:30px;
  padding-left: 15px;

  background-color: rgba(44, 37, 37, 0.7);

  bottom: 30px;
  right: 150px;

   position: absolute; 

}
#club-ethos {
    height: 400px;
}
#left-about {
    width: 50%;
    height: 300px;
    float: left;
    background: url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
}

#right-about{
    padding-top: 30px;
    width: 40%;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#welcome {
    margin: 25px 0;
    text-align: center;
    font-size: 280%;
}

#moc {
height: 600px;
}
#image1 {
    margin: 25px;
    width: 100%;
    height: 100px;
    background: url(https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center center;
}

#welcome2{
    margin: 25px 0;
    text-align: center;
    font-size: 280%;

}

#left{
width: 30%;
float: left;

}
#right{
width: 30%;
float: left;

}
#center {
    width: 30%;
   float: left;

}
#circle-container2 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
}

#circle-container1 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
}

#circle-container3 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: right;
}

#circle-cover-bg1{
    position: relative;
    background: url("https://images.unsplash.com/photo-1548690312-e3b507d8c110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    border-radius: 50%;
    height: 100%;
}
#circle-cover-bg2{
    position: relative;
    background: url("https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    border-radius: 50%;
    height: 100%;
}
#circle-cover-bg3{
    position: relative;
    background: url("https://images.unsplash.com/photo-1567013127542-490d757e51fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    border-radius: 50%;
    height: 100%;
}
#names{
    height: 170px;
}

#sofia{
    padding-top: 30px;
    width: 33%;
    float: right;
    text-align: center;
}

#maja{ 
    padding-top: 30px;
    width: 33%;
    float: right;
    text-align: center;
}

#dan {
    float: right;
     padding-top: 30px;
    width: 33%; 
    text-align: center;
}

#image2 {
    margin: 25px;
    width: 100%;
    height: 100px;
    background: url(https://images.unsplash.com/photo-1526404079162-d93dafdeef3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center center;
}
 #join{
    margin: 25px 0;
    text-align: center;
    font-size: 280%;
 }


#work-hero {
    position: absolute;
    width: 100%;
    height: 600px;
    background: url(https://images.unsplash.com/photo-1549060279-7e168fcee0c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) center center;
 }

#work {
   width:100%;
   height:600px;
   overflow:hidden;
   position: relative;
}

#work-text{
    text-align: center;
    font-size: 500%;
}

#box{
    height: 500px;
}
#box-container2 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin: 55px;
    float: right;
}

#box-container1 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin:55px;
    float: right;
}

#box-container3 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin: 55px;
    float: right;
}

#box-cover-bg1{
    position: relative;
    background: url("https://images.unsplash.com/photo-1531502774286-5e4e8e94879f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    height: 100%;
}
#box-cover-bg2{
    position: relative;
    background: url("https://images.unsplash.com/photo-1571019613914-85f342c6a11e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    height: 100%;
}
#box-cover-bg3{
    position: relative;
    background: url("https://images.unsplash.com/photo-1470468969717-61d5d54fd036?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    height: 100%;
}
#box11{
    height: 700px;
}

#box-container5 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    
    margin: 55px;
    float: left;
}

#box-container4 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    
    margin: 55px;
    float: left;
}

#box-container6 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
  
    margin: 55px;
    float: left;
}

#box-cover-bg4{
    position: relative;
    background: url("https://images.unsplash.com/photo-1582443242920-f6dd3b476827?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    
    height: 100%;
}
#box-cover-bg5{
    position: relative;
    background: url("https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    
    height: 100%;
}
#box-cover-bg6{
    position: relative;
    background: url("https://images.unsplash.com/photo-1584464491033-06628f3a6b7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center;
    
    height: 100%;
}


footer{
height: 150px;
}
 

.social-networks {

    text-align: right;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #080808;
}

#info {
    font-size: 150%;

}